img {
    height: 500px;
    width: 500px;
    image-rendering: auto;
}

header {
    color: whitesmoke;
    background-image: url("http://d3adcc0j1hezoq.cloudfront.net/wp-content/uploads/2017/11/50A0451D-35AE-4594-8780-BEFAE1420355.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    text-align: center;
    line-height: 20px;
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Redressed', cursive;
    padding: 50px;
}

sub {
    border: groove navy 5px;
    padding:20px;
    display: block;
}

h1 {
    display: inline;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}